$mozfest-red: #FF283F;
$mozfest-orange: #FF9700;
$mozfest-yellow: #F9EE08;
$mozfest-magenta: #FF40FF;
$mozfest-green: #00FF6D;
$mozfest-teal: #00FAFF;
$mozfest-blue: #0433FF;
$mozfest-purple: #8336FF;
